<ng-container>
  <ion-app>
    <ion-header></ion-header>
    <ion-content class="backgroundImg">
      <!-- -->
      <ion-grid>
        <ion-row class="centering">
          <ion-col size-md="6" offset-md="3">
            <ion-card class="background">
              <img src="../../assets/icon_escrever3.png">
              <ion-card-header>
                <ion-card-title class="customFont">Create your test</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item class="text-input">
                  <ion-input type="number" placeholder="Total number of Questions(Max 30)" clearInput autocorrect="off"
                    autofocus="true"></ion-input>
                </ion-item>
                <ion-item class="text-input">
                  <ion-input type="number" placeholder="Number of Easy Questions" clearInput autocorrect="off">
                  </ion-input>
                </ion-item>
                <ion-item class="text-input">
                  <ion-input type="number" placeholder="Number of Average Questions" clearInput autocorrect="off">
                  </ion-input>
                </ion-item>
                <ion-item class="text-input">
                  <ion-input type="number" placeholder="Number of Hard Questions" clearInput autocorrect="off">
                  </ion-input>
                </ion-item>
                <div margin-vertical text-center>
                  <ion-button fill="fill" color="danger" class="text-input">
                    <ion-icon slot="start" name="redo"></ion-icon>Try Again
                  </ion-button>
                  <ion-button fill="fill" color="sucess" class="text-input">
                    <ion-icon slot="end" name="create"></ion-icon>Create
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-app>
</ng-container>

<ng-container>
  <ion-app>
    <ion-header></ion-header>
    <ion-content class="backgroundImg">
      <!-- -->
      <ion-grid>
        <ion-row class="centering">
          <ion-col size-md="6" offset-md="3">
            <ion-card class="background">
              <ion-card-content>
                <ion-radio-group>
                  <ion-list-header>
                    Câu 1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ad! Repellat consequuntur
                    quas accusantium saepe explicabo eius dolore possimus voluptatem hic sint, doloribus dolor iste et,
                    voluptas quo, aspernatur tempora.
                  </ion-list-header>
                  <ion-item>
                    <ion-label>Cord</ion-label>
                    <ion-radio slot="start" value="cord"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Duesenberg</ion-label>
                    <ion-radio slot="start" value="duesenberg"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Hudson</ion-label>
                    <ion-radio slot="start" value="hudson"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Packard</ion-label>
                    <ion-radio slot="start" value="packard"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-card-content>
              <ion-card-content>
                <ion-radio-group>
                  <ion-list-header>
                    Câu 1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ad! Repellat consequuntur
                    quas accusantium saepe explicabo eius dolore possimus voluptatem hic sint, doloribus dolor iste et,
                    voluptas quo, aspernatur tempora.
                  </ion-list-header>
                  <ion-item>
                    <ion-label>Cord</ion-label>
                    <ion-radio slot="start" value="cord"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Duesenberg</ion-label>
                    <ion-radio slot="start" value="duesenberg"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Hudson</ion-label>
                    <ion-radio slot="start" value="hudson"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Packard</ion-label>
                    <ion-radio slot="start" value="packard"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-card-content>
            </ion-card>
            <div margin-vertical text-center>
              <ion-button fill="fill" color="danger" class="text-input">
                <ion-icon slot="start" name="redo"></ion-icon>Redo
              </ion-button>
              <ion-button fill="fill" color="sucess" class="text-input">
                <ion-icon slot="end" name="checkmark"></ion-icon>Turn In
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-app>
</ng-container>