.centering {
    padding-top: 6em !important;
}

.background {
    background-color: #2f4f4f;
}

.text-input {
    --background: rgba(0, 0, 0, 0.25);
    --color: white;
}

img {
    width: 30%;
    height: 15%;
    margin: auto;
}