<ion-content class="backgroundImg">
    <!-- -->
    <ion-grid class="centering">
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-card class="background">
                    <img src="assets/icon-tutoring-homework.png">
                    <ion-card-header>
                        <ion-card-title class="customFont">History</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item *ngFor="let res of listHistory">
                                <ion-label>
                                    Score:
                                    {{res.correct}}/{{res.wrong + res.correct}}
                                </ion-label>
                                <p>{{res.answer_date}}</p>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
